<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A customer has requested a new quote!</h1>
    <p>
      Please send the quote to the following email address:<br> 
      <%= @quote.email %>
    </p>
  </body>
</html>
