<div class="row home">
  <div class="span6 offset1">
    <p><%= company.description.body.html_safe %></p>
  </div>
  <div class="span3 offset1">
    <%= render "/shared/quoted_picture", 
               image_url: "/images/sample_img_01.jpg",
                   quote: "This place rocks!", 
                citation: "Someone Famous" %>
    
    <%= render "/shared/quoted_picture", 
               image_url: "/images/sample_img_02.jpg",
                   quote: "OMG! Like so sweet!", 
                citation: "Someone Really Famous",
                 reverse: true %>
  </div>
</div>
<div class="row medium-margin">
  <div class="span8 offset2">
    <%= render '/static_pages/carousel' %>
  </div>
</div>

