<% if page.reversed %>
  <div class="row page-banner">
    <div class="span3 image">
      <%= image_tag page.banner_image_url, class: "img-rounded" %>
    </div>
    <div class="span5 title">
      <strong><%= page.title %></strong>
    </div>
<% else %>
  <div class="row page-banner reversed">
    <div class="span5 title">
      <strong><%= page.title %></strong>
    </div>
    <div class="span3 image">
      <%= image_tag page.banner_image_url, class: "img-rounded" %>
    </div>
<% end %>
</div>
