<div class="span3">
  <% page.pictures.each.with_index do |picture, i| %>
    <%= render "/shared/single_picture", 
               modal: page.name + "_" + i.to_s + "_modal", 
               picture: picture %>
  <% end %>
</div>
