<div class="span3">
  <% page.pictures.each do |picture| %>
    <%= render "/shared/single_picture", 
                image_url: picture.url,
                title: picture.description.title, 
                text: picture.description.body %>
  <% end %>
</div>
