<div class="row">
  <a href="#<%= modal %>" class="thumbnail" data-toggle="modal">
    <%= image_tag picture.image_url %>
  </a>
</div>

<!-- Modal -->
<div id="<%= modal %>" 
     class="modal hide fade" 
     aria-hidden="true">
  <%= image_tag picture.image_url %>
</div>

<script type="text/javascript">
  $('#pictureModal').modal(options)
</script>
