<div class="span4 left-padding">
  <%= render "/shared/single_picture", 
              image_url: company.logo_url,
                  title: "Title 1", 
                  text: "A little description about this really sweet picture." %>
  
  <%= render "/shared/single_picture", 
              image_url: company.logo_url,
                  title: "Title 2", 
                  text: "Some more really good information on why this second picture is here." %>
</div>
