/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

div.well {
  border: 2px solid #0d6c8c;
}

.center {
  text-align: center;
}

.sidebar-nav-fixed {
  position: fixed;
  top: 0px;
  bottom: 0px;
  height: 100%;
}

.small-margin {
  margin: 10px;
}

.medium-margin {
  margin: 30px;
}

.left-padding {
  padding-left: 20px;
}

.medium-image {
  width: 300px;
  height: 100%;
}

.topbar-box {
  width: 180px;
  height: 75px;
}

.topbar-text {
  margin: 0;
  padding: 40px 0 0 0;
  text-align: center;
  color: white;
}

.topbar-text.selected {
  padding: 35px 0 0 0;
}

.banner-box {
  width: 800px;
  height: 250px;
  border: 2px solid #0d6c8c;
}

.banner-text {
  margin: 0;
  padding: 50px 0px 0px 50px;
  color: white;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.banner-text.reversed {
  padding: 50px 0px 0px 375px;
}

a.keep-inline {
  float: left;
}

.banner-list {
  font-size: 20px;
}

.img-gallery-main {
  width: 800px;
  height: 100%;
}

.img-gallery-sub {
  width: 120px;
  height: 100%;
}
