/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.center {
  text-align: center;
}

.sidebar-nav-fixed {
  position: fixed;
  top: 0px;
  bottom: 0px;
}

.small-margin {
  margin: 10px;
}

.medium-margin {
  margin: 30px;
}

.medium-image {
  width: 300px;
  height: 100%;
}

.banner-box {
  width: 800px;
  height: 250px;
}

.banner-text {
  margin: 0;
  padding: 50px 0px 0px 50px;
}

.banner-list {
  font-size: 20px;
}

.img-gallery-main {
  width: 800px;
  height: 100%;
}

.img-gallery-sub {
  width: 120px;
  height: 100%;
}
