<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" style="float: right" href="<%= root_url %>">
        <small><%= company.phone %></small> - 
        <%= company.title %>
      </a>
      <ul class="nav">
        <% company.sheets.each do |sheet| %>
          <li><%= link_to sheet.description.title, "#{sheet.name}" %></li>
        <% end %>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Get a Quote!</a></li>
      </ul>
    </div>
  </div>
</div>
