<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" style="float: right" href="#">
        <small><%= company.phone %></small> - 
        <%= company.title %>
      </a>
      <ul class="nav">
        <li class="active"><a href="#">Work</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Get a Quote!</a></li>
      </ul>
    </div>
  </div>
</div>
