<% if @sheet.nil?
     summary = company.description.title
   else
     summary = @sheet.description.body
   end %>
<header id="overview" class="banner">
  <div class="container">
    <% if @sheet.nil? %>
      <%= image_tag company.logo_url %>
    <% else %>
      <h1><%= @sheet.description.title %></h1>
    <% end %>
    <p>
      <%= summary %> 
    </p>
  </div>
</header>
