<header id="overview" class="banner">
  <div class="container">
    <h1>
     Work 
    </h1>
    <p>
      Here we talk about the kind of work that is done at <%= company.title %>. 
    </p>
  </div>
</header>
