<% if (defined? @title).nil?
     @summary = company.subtitle
   end %>
<header id="overview" class="banner">
  <div class="container">
    <% if (defined? @title).nil? %>
      <%= image_tag company.logo_url %>
    <% else %>
      <h1><%= @title %></h1>
    <% end %>
    <p>
      <%= @summary %> 
    </p>
  </div>
</header>
