<ul data-spy="affix" data-offset-top="180" id="sidebar" class="nav nav-list sidebar">
  <% @sheet.pages.each do |page| %>
    <% li_class = ""
       if !@page.nil? && (@page.name == page.name)
         li_class += "active"
       end %>
    <li class="<%= li_class %>">
      <a href="#<%= page.name %>">
        <i class="icon-chevron-right"></i>
        <%= page.title %> 
      </a>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  query('#sidebar').affix()
</script>
