<div class="well sidebar-nav sidebar-nav-fixed">
  <ul class="nav nav-list">
    <li>
      <%= image_tag company.logo_url, size: "200x200" %>
    </li>
    <li class="nav-header">Menu Selections</li>
    <li class="active">
      <a href="#">Work</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</div>
