<div class="navbar">
  <ul class="nav">
    <% company.pages.each do |page| %>
      <% text_class = "topbar-text"
         img_url = "/images/link_img_med.jpg"
         if !@page.nil? && (@page.name == page.name)
           text_class += " selected"
           img_url = "/images/link_img_selected.jpg"
         end %>
      <a href="<%= page.name %>" class="keep-inline">
        <li class="topbar-box" style="background-image:url('<%= img_url %>')">
          <h3 class="<%= text_class %>"><%= page.title %></h3>
        </li>
      </a>
    <% end %>
  </ul>
</div>
